@charset "utf-8";

main {
    width: 480px;
    margin: 16px auto;
    padding: 16px;
    border: 2px dashed #FDD000;
}

h1{
    color: #FDD000;
    font-style: italic;
    text-align: center;
    margin: 0;
}
p {
    overflow-wrap: break-word;
}

button {
    all: unset;
    display: block;
    background: #FDD000;
    width: 64px;
    margin: 16px auto 0;
    padding: 4px 4px;
    border-radius: 8px;
    text-align: center;
}

button:hover {
    opacity: .8;
    cursor: pointer;
}

button:active {
    opacity: .6;
}